
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 202px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
}

nav ul {
    display: flex;
}

.clicked {
    background-color: #39AAE1;
    color: white
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: #727272
}

nav a:hover {
    background-color: #39AAE1;
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../img/img1.jpg");
    background-size: cover;
    background-position: center;
    height: 670px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline {
    flex:1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1, h2 {
    color: white;
    text-shadow: 0px 1.5px 0px #555;
    max-width: 350px;
}

.banner_headline h1 {
    font-size: 70px;
}

.banner_headline h2 {
    font-size: 21px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner_1,
.banner_2,
.banner_3 {
    flex:1;
    padding: 20px;
}

.banner_1 {
    background-color: #39AAE1;
}

.banner_2 {
    background-color: #0079C7;
}

.banner_3 {
    background-color: #2B4C99;
}

.banner_title {
    font-size: 25px;
    color: white;
    margin: 12px;
    font-weight: bold;
}

.banner_desc {
    font-size: 16px;
    color: white;
    margin: 12px;
    margin-bottom: 25px;
}

.banner_options a {
    color: white;
    text-decoration: none;
    margin: 12px;
    border: solid white 1px;
    padding: 4px;
    font-size: 14px;
}

.banner_options a:hover{
    background-color: #2B4C99;
}

.banner_3 .banner_desc {
    border-bottom: 1px solid #89c1dd3d;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.banner_3 p{
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex:2
}

#geral aside {
    flex:1
}

.widgets_tittle {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widgets_tittle_text {
    font-size: 21px;
}

.widgets_tittle_bar {
    width: 50px;
    height: 3px;
    background-color: #39AAE1;
    margin-top: 10px;
}

.widgets_tittle_body {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.widgets_block {
    background-color: #2f9be3;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.widgets_tittle_body h3 {
    font-size: 13px;
    padding: 20px 0 40px 0;
    color: #727272;
}

.widgets_contacts_tel {
    display: flex;
    align-items:flex-start;
    border-bottom: #E0E0E0 solid 1px;
    padding-bottom: 10px ;
}

.widgets_contacts_tel h4 {
    font-size: 13px;
    color: #666;
}

.widgets_contacts_email {
    display: flex;
    align-items: center;
    border-bottom: #E0E0E0 solid 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.widgets_contacts_email h4 {
    font-size: 13px;
    color: #666;
}

.widgets_contacts_others {
    display: flex;
    align-items: center;
    border-bottom: #E0E0E0 solid 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.widgets_contacts_others h4 {
    font-size: 13px;
    color: #666;
}

.flex {
    display: flex;
}

article {
    flex: 1;
    flex-wrap: wrap;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
    margin-top: 25px;
}

article .news_posted_at {
    background-color: #2B4C99;
    color: #FFF;
    font-size: 12px;
    margin-right: 2px;
    padding: 10px;
    
}

article .news_coments {
    background-color: #39AAE1;
    color: #FFF;
    padding: 10px;
    font-size: 12px;
}

article .news_thumb img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

article .news_tittle {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #000;
}

article .news_summary {
    color: #5C5C5C;
    font-size: 14px;
    line-height: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #1E1E1E;
}

.footer_menu {
    display: flex;
}

.fm_1,
.fm_2,
.fm_3 {
    flex:1;
    padding: 20px;
}

.fm_1 {
    background-color: #39AAE1;
}

.fm_2 {
    background-color: #0079C7;
}

.fm_3 {
    background-color: #2B4C99;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1
}

.flexColumn {
    flex-direction: column;
}

.footer_area .widgets_tittle_text {
    color: #FFFF;
}

.footer_body_text {
    color: #909090;
    font-size: 13px;
    margin: 20px 0 20px 0;
}

.footer_body_address, .footer_body_contact {
    color: #909090;
    font-size: 13px;
    line-height: 19px;
}

.footer_body_contact, .footer_body_contact {
    flex: 1;
    margin-top: 20px;
}

.footer_body_contact {
    margin-left: 50px;
}

.footer_body_contact a {
    text-decoration: none;
    color: #FFF;
}

.footer_body_icons {
    display: flex;
    flex-direction: row;
}

.facebook,
.twitter,
.calendar,
.email {
    max-width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.footer_copy {
    border-top: 1px solid #2C2C2C;
    height: 40px;
    line-height: 40px;
    color: #5C5C5C;
    font-size: 12px;
    margin-top: 30px;
}

.news_1,
.news_2,
.news_3 {
    font-size: 13px;
    color: #DCDCDC;
    margin-top: 15px;
    margin-right: 30px;
}

.news_1 img,
.news_2 img,
.news_3 img {
    padding-right: 2px;
}

.news_1 a,
.news_2 a,
.news_3 a {
    text-decoration: none;
    color: #DCDCDC
}

.news_1 p,
.news_2 p,
.news_3 p {
    font-size: 13px;
    color: #39AAE1;
}

.tweets_1,
.tweets_2,
.tweets_3 {
    font-size: 13px;
    color: #727272;
    margin-top: 15px;
    line-height: 18px;

}

.tweets_1 img,
.tweets_2 img,
.tweets_3 img {
    padding-right: 2px;
}

.tweets_1 a,
.tweets_2 a,
.tweets_3 a {
    text-decoration: none;
    color: #DCDCDC;
}


.tweets_1 p,
.tweets_2 p,
.tweets_3 p {
    font-size: 13px;
    color: #39AAE1;
    line-height: 20px;
}

.menu-mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39AAE1;
}


@media (max-width:600px) {
    .banner_headline {
        padding: 20px;
        margin-top: 200px;
    }

    .banner_headline h1 {
        font-size: 55px;    
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .widgets {
        margin-top: 200px;
        padding-left: 20px;
    }

    article .ultimo {
        margin-bottom: -150px;

    }

    #geral aside {
        padding-right: 20px;
        
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0px;
        background-color: #FFF;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

